@use 'app';
$base_color_navbar: #19125c;
$base_color_text_nav_hover: #BBB;

.navbar-color {
    background-color: $base_color_navbar;
}

nav{
    
    .navbar .container{
        justify-content: center;
    }

    .navbar-brand{
        color:  app.$base_color_text;
    }
    
    .nav-link{
        color: app.$base_color_text;
        
        &:hover{
            color: $base_color_text_nav_hover ;
        }

        &:focus{
            color: app.$base_color_text; //Retirar a cor de seleção padrão de Preto.
        }
    }
    .navbar-toggler{
        background-color: app.$base_color_text;
    }

    .navbar-collapse{
        .nav-link{
            text-align: center;
        }
    }

}


